*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: #e0e0e0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
  }
  .title{
    padding-bottom: 30px;
    color: rgb(83, 83, 83);
  }
  
  input{
    padding: 15px;
    width: 300px;
    border: none;
    outline: none;
    /* color: transparent; */
    border-radius: 33px;
    background: #e0e0e0;
    box-shadow:  8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    margin-bottom: 20px;
    
  }

  #btn {
    padding: 15px 30px;
    color: white;
    border: 1px solid black;
    background: #000;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 700;
  }